<!DOCTYPE html>
<!--https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_parallax&stacked=h -->
<!--https://flask.palletsprojects.com/en/0.12.x/tutorial/introduction/ -->
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap documentation -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="/static/style.css" rel="stylesheet">

        <title>Wright Place: {% block title %}{% endblock %}</title>
    </head>

    <body onload="SelectFileText()">

    <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav">
            <!-- the dancing stick figure -->
            <a class="navbar-brand" href="/index"><img src="static/giphy.gif" alt="dancing stick figure"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                {% if session.user_id %}
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Log out</a>
                        </li>
                    </ul>
                {% else %}
                <style>
                    #nav
                    {
                        display: none;
                    }
                </style>
                {% endif %}
            </div>
        </nav>

    {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-danger border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
    {% endif %}

    <main class="container p-5">
        {% block main %}{% endblock %}
    <div class="small text-center text-muted" style="padding-top: 15px">
        {% block link %}{% endblock %}
    </div>
    </main>

    <footer class="small text-center text-muted" >
        {% block footer %}{% endblock %}
    </footer>

    </body>

</html>

