{% extends "layout.html" %}

{% block title %}
Log in
{% endblock %}

{% block main %}
    Welcome!
    <img src="static/giphy.gif" alt="dancing stick figure" style="width:70px;height:50px;">
    <form action="/login" method="post" >
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log in</button>
    </form>

{% endblock %}

{% block link %}
Not a member yet? <a href="/register">Register here!</a>
{% endblock %}
